@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    background-color: black;
    color: white
}
main {
    display: grid;
    grid-template-columns: 1fr repeat(12,minmax(auto, 30px)) 40fr;
    grid-gap: 2.5rem;
    padding: 20px;
}
.title {
    display: flex;
    align-items: center;
    font-family: 'indiaFont';
    font-size: 60px;
    margin-left: 44vw;
}
.btnLogOutAndOrdersReady {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 10px;
}
.navMenu {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
}
.text--medium {
    font-size: 1rem;
    line-height: 1.25rem;
    font-weight: 400;
    color:rgb(0, 0, 0);
    font-family: 'Montserrat', sans-serif;
}
.cards {
    grid-column: 2 / span 12;
    display: grid;
    grid-template-columns: repeat(12, minmax(auto,60px));
    grid-gap: 2.5rem;
}
.card {
    grid-column-end: span 4;
    display: flex;
    flex-direction: column;
    background-color: #cccbcb;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    border-radius: 10px;
}
.card:hover {
    transform: translateY(-7px);
}
.card_image-container {
    width: 100%;
    padding-top: 30%;
    overflow: hidden;
    position: relative;
}
.card_image-container img {
    width: 200px;
    height: 100px;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
}
.card_content {
    padding: 1.25rem;
}
.card_title {
    padding: 1.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    font-weight: 800;
}
.card_info {
    display: flex;
    align-self: end;
    align-items: center;
}
.card_price {
    margin-left: auto;
    padding: 0.2rem 0.2rem;
    background-color: white;
    border-radius: 1.25rem;
}
.btn_LogOut {
    margin-left: 94vw;
    margin-top: -7vh;
}

@media only screen and (min-width: 1001px) {
    .card {
        grid-column-end: span 4;
    }
    .card_title {
        padding-top: 80px;
        font-size: 15px;
    }
    .card_info {
        font-size: 15px;
    }
    .text--medium {
        font-size: 15px;
    }
}

@media only screen and (max-width: 1000px) {
    .card {
        grid-column-end: span 6;
    }
    .card_image-container img {
        width: 250px;
        height: 150px;
        position: absolute;
        top: 35%;
        left: 50%;
        transform: translate(-50%, -50%);
        object-fit: cover;
    }
}

@media only screen and (max-width: 700px) {
    main {
        grid-gap: 20px;
    }
    .card {
        grid-column-end: span 12;
    }
    .card_image-container img {
        width: 300px;
        height: 200px;
        position: absolute;
        top: 42%;
        left: 50%;
        transform: translate(-50%, -50%);
        object-fit: cover;
    }
    .card_title {
        padding: 1.25rem;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 85px;
    }
}

@media only screen and (max-width: 500px) {
    main {
        grid-template-columns: 10px repeat(6, 1fr) 10px;
        grid-gap: 10px;
    }
    .cards {
        grid-column: 2 / span 6;
        grid-template-columns: repeat(6, 1fr);
        grid-gap: 20px;
    }
    .card {
        grid-column-end: span 6;
    }
    .card_title {
        padding: 1.25rem;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 200px;
    }
}