.filter-btn {
    background: transparent;
    border-color: transparent;
    font-size: 1rem;
    text-transform: capitalize;
    margin: 0 0.5rem;
    letter-spacing: 0.0625rem;
    padding: 0.375rem 0.75rem;
    color:  rgb(255, 255, 255);
    cursor: pointer;
    transition: all 0.3s linear;
    border-radius: 0.25rem;
}
.active {
    border-bottom: 0.125rem solid;
    color: #DFC533;
}
.chileanCurrency {
    color: black;
}
.logo {
    width: 190px;
    height: 80px;
    background-size: cover;
    position: absolute;
    z-index: 100;
}