.modal {
    position:fixed;
    z-index:999;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    background-color: rgba(137, 134, 133, 0.408);
    display: none;
    justify-content: center;
    align-items: center;
}
.modal.is-open{
    display: flex;
}
.modal-container {
    position: relative;
    background-color: chartreuse;
    width: 120vw;
    max-width: 480px;
    min-width: 200px;
    min-height: 400px;
    margin-top: -150px;
}
.modal-close {
    position:absolute;
    top:1rem;
    right:1rem;
}