@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.order {
    width: 330px;
    display: flex;
    background-color:#DFC533 ;
    padding-right: 20px;
    color:black;
    flex-direction: column;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
}
.title {
    font-size: 30px;
    padding-top: 30px;
    padding-left: 30px;
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}
.titlesAbove {
    display: flex;
    width: 26vw;
    background-color: white;
    justify-content: center;
    flex-direction: column;
    margin-left: 10px;
    border-radius: 10px;

}
.tableInfo {
    display: flex;
    width: 26vw;
    height: 150px;
    background-color: white;
    margin-left: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}
.tableWaiter {
    display: flex;
    height: 30px;
    background-color: #CCCBCB;
    margin-top: 25px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}
.conteiner {
    display: flex;
    flex-direction: column;
}
.btnSendDelete {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 20px;
}
.btnSend {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    border-radius: 10px;
}
.btnSend:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
.btnDelete {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    border-radius: 10px;
}
.btnDelete:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
.table {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
tr {
    margin: 15px;
}
.changeNumberItem {
    margin: 10px;
}
.equalPrice {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 800;
}
.colorPrice {
    color:#c7379c;
    font-weight: 800;
}
.emptyOrder {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}
.interactionWithOrder {
    color: black;
}
.countPrice {
    display: flex;
}
.listP {
    font-size: 15px;
}

@media only screen and (min-width: 1600px) {
    .order {
        width: 495px;
        display: flex;
        align-items: center;
        background-color:#DFC533 ;
        padding-right: 20px;
        color:black;
        flex-direction: column;
        border-radius: 10px;
        font-family: 'Montserrat', sans-serif;
    }
}

@media only screen and (min-width: 1300px) {
    .order {
        width: 418px;
        display: flex;
        align-items: center;
        background-color:#DFC533 ;
        padding-right: 20px;
        color:black;
        flex-direction: column;
        border-radius: 10px;
        font-family: 'Montserrat', sans-serif;
    }
}
