.waiter-container {
    position: fixed;
    font-family: 'indiaFont';
}
.imgkusum {
    position: fixed;
    z-index: -1;
    margin-top: -20px;
    margin-left: -20px;
    opacity: 95%;
}
.footer-btn {
    display: flex;
}
.btnOrder {
    margin-top: 60vh;
    margin-left: 17vw;
}
.btnKitchen {
    margin-top: 60vh;
    margin-left: 24vw;
}
